.fa-chevron-circle-left:hover{
  opacity:1 !important;
}

h1 {
  font-family: 'Barlow Condensed';
  text-align: left;
  color: #77604eff;
  margin-top: 40px;
  margin-left:20%;
  animation-name: titleMove;
  animation-duration: 1.5s;
}

@keyframes titleMove {
  0%   {opacity: 20%; margin-left: 19%;}
  100% {opacity: 100%; margin-left: 20%;}
}

p.description {
  font-family: 'Barlow Condensed';
  text-align: left;
  color: #77604eff;
  margin-top:-10px;
  margin-left:20%;
  animation-name: descriptionMove;
  animation-duration: 1.5s;
}

@keyframes descriptionMove {
  0%   {opacity: 10%; margin-left: 19%;}
  100% {opacity: 100%; margin-left: 20%;}
}

.how{
  margin-left:20px;
}
.why{
  margin-top:10%;
  margin-left:20px;
}
.howbutton {
  background-color: #77604eff;
  color: white;
  padding: 15px;
  border-radius: 100px;
  font-size: 20px;
  font-family: 'Barlow Condensed';
  font-weight: 600px;
  border: none;
  cursor: pointer;
  
  
}

.dropdownHow {
  position: relative;
  display: inline-block;
}

.how-content {
  display: none;
  position: absolute;
  background-color: #77604eff;
  font-family: 'Barlow Condensed';
  font-weight: 400px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.how-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.how-content a:hover {background-color: #a2836bff}

.how-content a.active:hover {background-color: #a2836bff}

.dropdownHow:hover .how-content {
  display: block;
}

.dropdownHow:hover .howbutton {
  background-color: white;
  color: #77604eff;
}

p.how{
color:#77604eff;
font-family: 'Barlow Condensed';
margin-top:5px;
margin-left: 10px;
padding-right:40%;
font-size: 17px;
}

.whybutton {
  background-color: #93278fff;
  color: white;
  padding: 15px;
  border-radius: 100px;
  font-size: 20px;
  font-family: 'Barlow Condensed';
  font-weight: 600px;
  border: none;
  cursor: pointer;
  
}

.dropdownWhy {
  position: relative;
  display: inline-block;
}

.why-content {
  display: none;
  position: absolute;
  background-color: #93278fff;
  font-family: 'Barlow Condensed';
  font-weight: 400px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.why-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.why-content a:hover {background-color: #b751b5ff}

.dropdownWhy:hover .why-content {
  display: block;
}

.dropdownWhy:hover .whybutton {
  background-color: white;
  color: #93278fff;
}

p.why{
color:#93278fff;
font-family: 'Barlow Condensed';
margin-top:5px;
margin-left: 10px;
padding-right:40%;
font-size: 17px;
}

iframe {
  position:absolute;
  
}