body{
  background-image:url("https://i.ibb.co/RSwyHKJ/ctug18-0221-kinetic-rain-darker.jpg")
}
.dropdownHow {
  position: absolute;
  display: inline-block;
  margin-left:25%;
}

.howbutton {
  background-color: #77604eff;
  color: white;
  height:350px;
  width:350px;
  padding-left:15%;
  padding-right:15%;
  text-align:center;
  margin-top:60%;
  border-radius:50%;
  font-size: 26px;
  font-family: 'Barlow Condensed';
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.how-content {
  display: none;
  margin-top:-280px;
  left:-400px;
  position: absolute;
  font-family: 'Barlow Condensed';
  font-size:22px;
  min-width: 400px;
  padding:0px;
  text-align:right;
  transition: 0.5s;
}

.how1, .how2, .how3 {
  width:200px;
  height:200px;
  padding:30px;
  color: white;
  background-color: transparent;
  border-radius:50%;
  text-decoration: none;
  display: block;
  border: none;
  font-family: 'Barlow Condensed';
  font-size: 22px;
  text-align: center;
  line-height:25px;
  cursor: pointer;
}

.how1:hover, .how2:hover, .how3:hover {
  background-color:#77604eff;
    #a2836bff;
}
  
.how1{
  position:absolute;
  margin-top: -190px;
  margin-left:65%;
}

.how2{
  position:absolute;
  margin-left:46%;
}

.how3{
  position:absolute;
  margin-top: 200px;
  margin-left:65%;
}


.how-content a:hover {color: #a2836bff;}

.dropdownHow:hover .how-content {
  display: block;
}

.dropdownHow:hover .howbutton {
  background-color: white;
  color: #77604eff;
}

.whybutton {
  background-color: #93278fff;
  color: white;
  height:350px;
  width:350px;
  padding-left:15%;
  padding-right:15%;
  text-align:center;
  margin-top:55%;
  border-radius:50%;
  font-size: 26px;
  font-family: 'Barlow Condensed';
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropdownWhy {
  position: absolute;
  display: inline;
  margin-left:50%;
}

.why-content {
  display: none;
  margin-top:220px;
  position: absolute;
  font-family: 'Barlow Condensed';
  font-size:18px;
  min-width: 400px;
  text-align:left;
  transition: 0.5s;
}

.why1, .why2, .why3, .why4{
  width:200px;
  height:200px;
  padding:30px;
  color: white;
  background-color: transparent;
  border-radius:50%;
  text-decoration: none;
  display: block;
  border: none;
  font-family: 'Barlow Condensed';
  font-size: 22px;
  text-align: center;
  line-height:25px;
  cursor: pointer;
}

.why1{
  position:absolute;
  margin-top: -212px;
  margin-left: -150px;
}

.why2{
  position:absolute;
  margin-top: -70px;
  margin-left: -10px;
}

.why3{
  position:absolute;
  margin-top: 130px;
  margin-left: 5px;
}

.why4{
  position:absolute;
  margin-top: 290px;
  margin-left: -110px;
}

.why1:hover, .why2:hover, .why3:hover, .why4:hover {
  background-color:#93278fff;
}


.dropdownWhy:hover .why-content {
  display: inline;
}

.dropdownWhy:hover .whybutton {
  background-color: white;
  color: #93278fff;
}