body{
  background-image:url("https://i.ibb.co/RSwyHKJ/ctug18-0221-kinetic-rain-darker.jpg")
}
.dropdownHow {
  position: absolute;
  display: inline-block;
}

.howbutton {
  background-color: #77604eff;
  color: white;
  height:300px;
  width:300px;
  padding-left:15%;
  padding-right:15%;
  text-align:center;
  margin-left:130%;
  margin-top:50%;
  border-radius:50%;
  font-size: 22px;
  font-family: 'Barlow Condensed';
  font-weight: 600px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.how-content {
  display: none;
  margin-top:-250px;
  margin-right:-100px;
  position: relative;
  font-family: 'Barlow Condensed';
  font-size:18px;
  min-width: 100px;
  padding:0px;
  text-align:right;
  transition: 0.5s;
}

.how-content a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

.how-content a:hover {color: #a2836bff;}

.dropdownHow:hover .how-content {
  display: block;
}

.dropdownHow:hover .howbutton {
  background-color: white;
  color: #77604eff;
}

.whybutton {
  background-color: #93278fff;
  color: white;
  height:300px;
  width:300px;
  padding-left:15%;
  padding-right:15%;
  text-align:center;
  margin-top:50%;
  margin-left:250%;
  border-radius:50%;
  font-size: 22px;
  font-family: 'Barlow Condensed';
  font-weight: 600px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropdownWhy {
  position: absolute;
  display: inline-block;
}

.why-content {
  display: none;
  margin-top:-260px;
  margin-left:350%;
  position: absolute;
  font-family: 'Barlow Condensed';
  font-size:18px;
  min-width: 400px;
  text-align:left;
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.why-content a {
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
}

.why-content a:hover {color: #c979c6ff;}

.dropdownWhy:hover .why-content {
  display: inline-block;
}

.dropdownWhy:hover .whybutton {
  background-color: white;
  color: #93278fff;
}