body {
  background-image: url("https://images.unsplash.com/photo-1576603327092-124d055ab7b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  margin: 0;
  padding: 0;
}

div#main {
  opacity: 0;
  display: none;
}

@media screen and (max-width: 1000px) {
  div#main {
    opacity: 0;
    display: none;
  }

  div#mobile {
    opacity: 1;
    display: block;
  }
}

.head {
  padding: 5% 5%;
}

#mobile {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
  display: none;
  color: white;
  background-color: #77604eff;
  text-align: center;
}

p.intro {
  color: white;
  background-color: #77604eff;
  font-family: 'Barlow Condensed';
  font-size: 22px;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 40%;
  padding: 2px;
}

.start {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #77604eff;
  text-align: center;
  font-family: 'Barlow Condensed';
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5% 5%;
}

.start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start:hover span {
  padding-right: 25px;
}

.start:hover span:after {
  opacity: 1;
  right: 0;
}