.tooltipster-sidetip.tooltipster-borderless
.tooltipster-box{
  background-color:#f4f4f4;
  border-radius: 20px;
  border-bottom:5px solid #7a7a7a;
  width:500px;
  }
.tooltipster-sidetip.tooltipster-borderless.tooltipster
.tooltipster-arrow-border{border-top-color:#f4f4f4}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom
.tooltipster-arrow-border{border-bottom-color:#f4f4f4}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right
.tooltipster-arrow-border{border-right-color:#f4f4f4}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left
.tooltipster-arrow-border{border-left-color:#f4f4f4}

.tooltipster-sidetip.tooltipster-borderless
.tooltipster-content{color:#93278fff; padding:8px 20px; font-family:'Barlow Condensed'; font-size: 18px; line-height: 23px;}

.regions{
  margin-top: 70px;
  margin-left: -20px;
}

.year{
color: #b751b5ff;
background-color: Transparent;
position: relative;
font-size:20px;
border: none;
font-family: 'Barlow Condensed';
padding: 10px 35px;
display: inline-block;
margin-left:10px;
margin-top: 20px;
}

.year:hover{
  color:#93278fff;
  cursor: pointer;
}

a.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 5px;
  margin-left: 1100px;
  color:#93278fff;
  font-weight: bold;
  font-size: 80px;
  border-radius: 6px 0 0 6px;
  user-select: none;
  -webkit-user-select: none;
}

a.next:hover {
    color: #b751b5ff;
}